.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  min-height: 30vh;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 3vmin;
}

.closeBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: none;
}

.text {
  font-size: 20px;
  font-weight: 700;
}
