@mixin noBorderCursor {
  border: none;
  cursor: pointer;
}

@mixin flexible($jCont, $aItems, $direct) {
  display: flex;
  flex-direction: $direct;
  justify-content: $jCont;
  align-items: $aItems;
}

@mixin blueGradientBG {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
